.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-line {
  margin-top: 15px;
}

.wide-fields {
  width: 600px;
  min-width: 180px;
}

.sort-spacing {
  margin-right: 20px
}

.article-confirmation {
  margin-bottom: 10px;
}
