<div class="container" style="margin-top: 2%; margin-bottom: 2%">
  <div id="title">
    <h1 class="display-4" style="text-align:center">
      <a id="dailyMailText" href="https://www.dailymail.co.uk">DM</a>
      <a id="ukRedditText" href="https://www.reddit.com/r/ukpolitics">UK</a>API
    </h1>
  </div>
</div>

<div class="container">
  <p class="text-center lead">
    Click on a button below to open up either the highest rated comment, or a test comment from the database. 🙌
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light border-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-black py-3 ">{{ quizTitle }}</h2>
          <quiz></quiz>
        </div>
      </div>
    </div>
  </div>
</div>
